$c-gold: #b48c54;
$c-white: #ffffff;
$c-black: #000000;
$c-gray: #5a5a5a;
@mixin ul-inline {
    list-style: none;
    padding: 0;
    li {
        float: left;        
    }
}
body{
    font-family: 'anantason' !important;
}
a{
    text-decoration: none !important;
}
.max-w-1600{
    max-width: 1600px;
    margin: auto;
}
.max-w-320{
    max-width: 320px;
    margin: auto;
}
.ff-trajan {
    font-family: 'TrajanRegular';
}

.ff-trajan-bold {
    font-family: 'TrajanBold';
}
.ff-anantason{
    font-family: 'anantason';
}
.f-50 {
    font-size: 50px;
}
.f-40 {
    font-size: 40px;
}
.f-30 {
    font-size: 30px;
}
.f-26 {
    font-size: 26px;
}
.f-24 {
    font-size: 24px;
}
.f-22 {
    font-size: 22px;
}
.f-20 {
    font-size: 20px;
}
.f-18 {
    font-size: 18px;
}
.f-16 {
    font-size: 16px;
}
.f-14 {
    font-size: 14px;
}
.l-height-60{
    line-height: 60px;
}
.l-height-40{
    line-height: 40px;
}
.c-gold {
    color: $c-gold;
}
.c-white{
    color: $c-white;
}
.c-black{
    color: $c-black;
}
.c-gray{
    color: $c-gray;
}
.ptb-30{
    padding: 30px 0;
}
.pb-30{
    padding-bottom: 30px;
}
.header {
    background-color: #000000;
    padding: 15px 0;
    color: #ffffff;
    border-bottom: 5px solid $c-gold;
    .navbar {
        background-color: transparent !important;
    }
    .h-icons {
        img {
            height: 26px;
        }
        li{
            padding-right: 15px;
        }
    }
    .i-menu {
        margin-top: 0 !important;
        img {
            max-width: 30px;
        }
    }
    .h-right{
        .register{

        }
        .h-line{
            margin: 0 15px;
            div{
                font-size: 36px;
                line-height: 1;
                margin-top: -6px;
            }
        }
    }
    .h-logo{
        img{
            max-width: 400px;
        }
    }    
}
.i-fb{
    background-image: url('../images/icons/fb.png');
}
.i-ig{
    background-image: url('../images/icons/ig.png');
}
.i-tw{
    background-image: url('../images/icons/tw.png');
}
.i-yt{
    background-image: url('../images/icons/yt.png');
}
.i-social-top{
    width: 30px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: top center;
    cursor: pointer;
}
.i-social-top:hover{
    background-position: bottom center;
}
.i-social-bottom{
    width: 22px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    cursor: pointer;
}
.i-social-bottom:hover{
    background-position: top center;
}
.btn-register{
    border: 1px solid $c-gold;
    position: inherit;
    z-index: 999;
    background: #000;
    padding: 3px 5px;
    div{
        padding: 3px 10px;
    }
    a:hover{
        color: inherit;
    }
}
.box-register{
    border: 1px solid $c-gold;
    position: absolute;
    height: 100%;
    width: 100%;
    right: -5px;
    top: 5px;
}
.ul-inline {
    @include ul-inline;
}

img {
    width: 100%;
}

.lang-list {
    color: $c-gold;
}

.lang-list:hover {
    color: $c-gold !important;
}
.mid-left{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.mid-right{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.lang{
    .dropdown-menu{
        background-color: $c-gold;
        padding: 0;
        right: 0;
        left: unset;
        min-width: unset;
    }
    .dropdown-menu:hover{
        border: 1px solid $c-gold;
        background-color: transparent;
        a{
            color: $c-gold;
            background-color: transparent !important;
        }
    }
}
.home{
    .banner{
        .slick-dots{
            right: 4rem;
            bottom: 2rem;
            width: auto;
        }
        .slick-dots li button{
            border: 2px solid $c-gold;
            border-radius: 50px;
            width: 16px;
            height: 16px;
        }
        .slick-dots li button:before{
            font-size: 16px;
            line-height: 18px;
            width: 16px;
            height: 16px;
            color: $c-gold;
        }
        .slick-dots li.slick-active button:before{
            color: $c-gold;
            opacity: 1;
        }
    }
    .service{
        background-color: #000000;
        .service-main{
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
    }
    .promotion{
        .promotion-box{
            background-color: $c-gold;
        }
        .under-line{
            height: 1px;
            width: 100px;
            background: #fff;
            margin: 30px auto;
        }
    }
    .register{
        input{
            border: 1px solid $c-gold !important;
            font-size: 20px;
        }
        input:focus{
            box-shadow: 0 0 6px $c-gold;
        }
    }
}
.title-icon{
    background-image: url('../images/icons/list.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 8px;
}
.title-icon-white{
    background-image: url('../images/icons/list-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 8px;
}
.gallery{
    .col-md-8{
        .row{
            padding-right: 15rem;
        }
    }
}
.center-x-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.center-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mid-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.btn-sumit{
    background-color: $c-gold;
    color: $c-white;
    width: 100%;
    border: none;
    padding: 5px
}
footer{
    background-color: #e8e8e8;
    padding: 60px;
    label{
        font-family: 'TrajanBold';
    }
    ul{
        list-style:none;
        padding: 0;
    }
    .logo-ft{
        img{
            max-width: 400px;
        }
    }
    .address-ft{
        width: 40%;
    }
    a:hover{
        color: $c-gold;
    }
    .follow-up{
        li{
            padding-right: 15px;
        }
    }
    .copy-right{
        margin-top: 60px;
    }
}