body {
  font-family: 'anantason' !important; }

a {
  text-decoration: none !important; }

.max-w-1600 {
  max-width: 1600px;
  margin: auto; }
  @media (max-width: 1600px) {
    .max-w-1600 {
      padding: 0 90px !important; } }
  @media (max-width: 480px) {
    .max-w-1600 {
      padding: 0 15px !important; } }

.max-w-320 {
  max-width: 320px;
  margin: auto; }

.ff-trajan {
  font-family: 'TrajanRegular'; }

.ff-trajan-bold {
  font-family: 'TrajanBold'; }

.ff-anantason {
  font-family: 'anantason'; }

.f-50 {
  font-size: 50px; }

.f-40 {
  font-size: 40px; }
  @media (max-width: 1200px) {
    .f-40 {
      font-size: 30px; } }

.f-30 {
  font-size: 30px; }

.f-26 {
  font-size: 26px; }

.f-24 {
  font-size: 24px; }

.f-22 {
  font-size: 22px; }

.f-20 {
  font-size: 20px; }

.f-18 {
  font-size: 18px; }

.f-16 {
  font-size: 16px; }

.f-14 {
  font-size: 14px; }

.l-height-60 {
  line-height: 60px; }
  @media (max-width: 1200px) {
    .l-height-60 {
      line-height: 45px; } }

.l-height-40 {
  line-height: 40px; }

.c-gold {
  color: #b48c54; }

.c-white {
  color: #ffffff; }

.c-black {
  color: #000000; }

.c-gray {
  color: #5a5a5a; }

.ptb-90 {
  padding: 90px 0; }

.ptb-60 {
  padding: 60px 0; }
  @media (max-width: 480px) {
    .ptb-60 {
      padding: 30px 0; } }

.ptb-30 {
  padding: 30px 0; }

.pb-60 {
  padding-bottom: 60px; }
  @media (max-width: 480px) {
    .pb-60 {
      padding-bottom: 30px; } }

.pb-30 {
  padding-bottom: 30px; }

.header {
  background-color: #000000;
  padding: 15px 0;
  color: #ffffff;
  border-bottom: 5px solid #b48c54; }
  .header .navbar {
    background-color: transparent !important; }
    @media (max-width: 480px) {
      .header .navbar {
        padding: 0; } }
  .header .h-icons img {
    height: 26px; }
  .header .h-icons ul {
    visibility: hidden; }
    @media (max-width: 991px) {
      .header .h-icons ul {
        left: 60px; } }
    @media (max-width: 768px) {
      .header .h-icons ul {
        left: 40px; } }
    .header .h-icons ul li {
      padding-right: 15px; }
      @media (max-width: 768px) {
        .header .h-icons ul li {
          padding-right: 10px; } }
  .header .h-icons .show-menu {
    position: absolute;
    height: 100%;
    width: 170px;
    background-color: #000;
    z-index: 999; }
    @media (max-width: 991px) {
      .header .h-icons .show-menu {
        left: 60px; } }
  .header .i-menu {
    margin-top: 0 !important; }
    .header .i-menu img {
      max-width: 30px; }
  @media (max-width: 480px) {
    .header .h-right {
      padding: 0; } }
  .header .h-right .h-line {
    margin: 0 15px; }
    @media (max-width: 768px) {
      .header .h-right .h-line {
        margin: 0 10px; } }
    .header .h-right .h-line div {
      font-size: 36px;
      line-height: 1;
      margin-top: -6px; }
      @media (max-width: 768px) {
        .header .h-right .h-line div {
          font-size: 30px;
          margin-top: -2px; } }
  @media (max-width: 768px) {
    .header .h-right ul {
      right: 0; } }
  @media (max-width: 480px) {
    .header .h-right ul {
      position: inherit;
      top: unset;
      right: unset;
      transform: unset;
      margin-top: 2rem;
      margin-bottom: 0; }
      .header .h-right ul li {
        float: none;
        margin-bottom: 15px; }
        .header .h-right ul li a {
          font-size: 18px !important; } }
  @media (max-width: 480px) {
    .header .h-right .social-icons a {
      float: left;
      padding-right: 15px; } }
  @media (max-width: 480px) {
    .header .h-logo {
      text-align: right;
      margin-right: -15px; } }
  .header .h-logo img {
    max-width: 400px; }
    @media (max-width: 1400px) {
      .header .h-logo img {
        max-width: 250px; } }
    @media (max-width: 480px) {
      .header .h-logo img {
        max-width: 200px; } }

.header-top {
  margin-top: 8rem; }
  @media (max-width: 1400px) {
    .header-top {
      margin-top: 6rem; } }
  @media (max-width: 768px) {
    .header-top {
      margin-top: 5rem; } }
  @media (max-width: 480px) {
    .header-top {
      margin-top: 4rem; } }

.slide-left {
  visibility: visible !important;
  -webkit-animation: slideLeft 1s forwards;
  animation: slideLeft 1s forwards;
  left: 15px; }
  @media (max-width: 991px) {
    .slide-left {
      left: 60px; } }

@-webkit-keyframes slideLeft {
  100% {
    left: 250px;
    width: 0; } }
@keyframes slideLeft {
  100% {
    left: 250px;
    width: 0; } }
@media (max-width: 768px) {
  @-webkit-keyframes slideLeft {
    100% {
      left: 200px;
      width: 0; } }
  @keyframes slideLeft {
    100% {
      left: 200px;
      width: 0; } }
  @-webkit-keyframes slideRight {
    0% {
      width: 0; }
    100% {
      left: 40px;
      width: 170px; } }
  @keyframes slideRight {
    0% {
      width: 0; }
    100% {
      left: 40px;
      width: 170px; } } }
.slide-right {
  visibility: visible !important;
  -webkit-animation: slideRight 1s forwards;
  animation: slideRight 1s forwards;
  left: 200px;
  width: 0; }
  @media (max-width: 991px) {
    .slide-right {
      left: 250px; } }

@-webkit-keyframes slideRight {
  0% {
    width: 0; }
  100% {
    left: 15px;
    width: 170px; } }
@keyframes slideRight {
  0% {
    width: 0; }
  100% {
    left: 15px;
    width: 170px; } }
.i-fb {
  background-image: url("../images/icons/fb.png"); }

.i-ig {
  background-image: url("../images/icons/ig.png"); }

.i-tw {
  background-image: url("../images/icons/tw.png"); }

.i-yt {
  background-image: url("../images/icons/yt.png"); }

.i-social-top {
  width: 30px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: top center;
  cursor: pointer; }

.i-social-top:hover {
  background-position: bottom center; }

.i-social-bottom {
  width: 22px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  cursor: pointer; }

.i-social-bottom:hover {
  background-position: top center; }

.btn-register {
  border: 1px solid #b48c54;
  position: inherit;
  z-index: 999;
  background: #000;
  padding: 3px 5px; }
  .btn-register div {
    padding: 3px 10px; }
  .btn-register a:hover {
    color: inherit; }
  @media (max-width: 768px) {
    .btn-register {
      font-size: 12px; } }
  @media (max-width: 480px) {
    .btn-register {
      padding: 0;
      border: none; } }

.btn-register:hover {
  visibility: visible;
  background: #b48c54; }
  .btn-register:hover a {
    color: #ffffff; }

.box-register {
  border: 1px solid #b48c54;
  position: absolute;
  height: 100%;
  width: 100%;
  right: -5px;
  top: 5px; }

.ul-inline {
  list-style: none;
  padding: 0; }
  .ul-inline li {
    float: left; }

img {
  width: 100%; }

.lang-list {
  color: #b48c54; }

.lang-list:hover {
  color: #b48c54 !important; }

.mid-left {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%); }

.mid-right {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%); }

.lang .dropdown-menu {
  background-color: #b48c54;
  padding: 0;
  right: 12px;
  left: unset;
  min-width: unset; }
  @media (max-width: 480px) {
    .lang .dropdown-menu {
      top: -4px;
      left: 4rem;
      right: unset; } }
.lang .dropdown-item {
  padding: 5px 10px; }
.lang .dropdown-menu:hover {
  border: 1px solid #b48c54;
  background-color: transparent; }
  .lang .dropdown-menu:hover a {
    color: #b48c54;
    background-color: transparent !important; }

.home .banner .slick-dots {
  right: 4rem;
  bottom: 2rem;
  width: auto; }
  @media (max-width: 480px) {
    .home .banner .slick-dots {
      right: 2rem; } }
.home .banner .slick-dots li button {
  border: 2px solid #b48c54;
  border-radius: 50px;
  width: 16px;
  height: 16px; }
.home .banner .slick-dots li button:before {
  font-size: 16px;
  line-height: 18px;
  width: 16px;
  height: 16px;
  color: #b48c54; }
.home .banner .slick-dots li.slick-active button:before {
  color: #b48c54;
  opacity: 1; }
.home .service {
  background-color: #000000; }
  .home .service .service-main {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
    @media (max-width: 480px) {
      .home .service .service-main {
        height: 345px;
        margin-bottom: 25px; } }
  @media (max-width: 991px) {
    .home .service .col-md-4 {
      padding-bottom: 30px; } }
  @media (max-width: 480px) {
    .home .service .col-md-6 div:nth-child(2) {
      padding-bottom: 25px; } }
.home .promotion .promotion-box {
  background-color: #b48c54; }
  @media (max-width: 991px) {
    .home .promotion .promotion-box .col-md-4 {
      flex: 40%;
      max-width: 40%; } }
  @media (max-width: 991px) {
    .home .promotion .promotion-box .col-md-4 .p-5 {
      padding: 0 !important; } }
  @media (max-width: 991px) {
    .home .promotion .promotion-box .col-md-8 {
      flex: 60%;
      max-width: 60%; } }
  .home .promotion .promotion-box .promotion-box-img {
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%; }
    @media (max-width: 768px) {
      .home .promotion .promotion-box .promotion-box-img {
        height: 270px; } }
.home .promotion .under-line {
  height: 1px;
  width: 100px;
  background: #fff;
  margin: 30px auto; }
@media (max-width: 991px) {
  .home .promotion .max-w-320 {
    max-width: 250px; } }
@media (max-width: 768px) {
  .home .promotion .max-w-320 {
    padding-bottom: 30px; } }
.home .register input {
  border: 1px solid #b48c54 !important;
  font-size: 20px; }
.home .register input:focus {
  box-shadow: 0 0 6px #b48c54; }
@media (max-width: 991px) {
  .home .register .col-md-4 {
    flex: 50%;
    max-width: 50%; } }
@media (max-width: 991px) {
  .home .register .col-md-8 {
    flex: 50%;
    max-width: 50%; } }
@media (max-width: 768px) {
  .home .project-detail .col-md-5 {
    flex: 100%;
    max-width: 100%;
    padding-bottom: 60px; } }
.home .project-detail .col-md-5 h2 {
  border-bottom: 1px solid #b48c54;
  padding-bottom: 10px;
  margin-bottom: 10px; }
.home .project-detail .col-md-7 {
  padding-left: 4rem; }
  @media (max-width: 768px) {
    .home .project-detail .col-md-7 {
      flex: 100%;
      max-width: 100%;
      padding-left: 0; } }
  @media (max-width: 480px) {
    .home .project-detail .col-md-7 {
      padding: 0 15px; } }
  .home .project-detail .col-md-7 .col-md-6 {
    padding: 0 3rem; }
    @media (max-width: 1400px) {
      .home .project-detail .col-md-7 .col-md-6 {
        padding: 0 1rem; } }
  .home .project-detail .col-md-7 .col-md-6:first-child {
    border-right: 1px solid; }
    @media (max-width: 480px) {
      .home .project-detail .col-md-7 .col-md-6:first-child {
        border-right: none; }
        .home .project-detail .col-md-7 .col-md-6:first-child div:last-child {
          border-bottom: 1px solid;
          margin-bottom: 15px; } }
@media (max-width: 768px) {
  .home .design-concept .col-md-4 {
    padding-bottom: 30px; } }
@media (max-width: 768px) {
  .home .map-location .col-md-4 {
    order: 1;
    padding-bottom: 30px; } }
@media (max-width: 768px) {
  .home .map-location .col-md-4 .mid-left {
    position: static;
    transform: none; } }
@media (max-width: 768px) {
  .home .map-location .col-md-8 {
    order: 2; } }
@media (max-width: 768px) {
  .home .col-md-4 {
    flex: 100% !important;
    max-width: 100% !important; } }
@media (max-width: 768px) {
  .home .col-md-8 {
    flex: 100% !important;
    max-width: 100% !important; } }

.title-icon {
  background-image: url("../images/icons/list.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 8px; }

.title-icon-white {
  background-image: url("../images/icons/list-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 8px; }

.gallery .col-md-8 .row {
  padding-right: 6rem; }
  @media (max-width: 768px) {
    .gallery .col-md-8 .row {
      padding-right: 0; } }
  @media (max-width: 768px) {
    .gallery .col-md-8 .row .col-md-4 {
      flex: 33.33% !important;
      max-width: 33.33% !important; } }
@media (max-width: 768px) {
  .gallery .col-md-8 {
    order: 2; } }
.gallery .col-md-4 ul {
  list-style: none;
  padding: 0; }
@media (max-width: 768px) {
  .gallery .col-md-4 {
    order: 1;
    padding: 0 90px; } }
@media (max-width: 480px) {
  .gallery .col-md-4 {
    padding: 0 15px 30px; } }

.center-x-bottom {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%); }

.center-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mid-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.btn-sumit {
  background-color: #b48c54;
  color: #ffffff;
  width: 100%;
  border: none;
  padding: 5px; }

footer {
  background-color: #e8e8e8;
  padding: 60px; }
  footer label {
    font-family: 'TrajanBold'; }
  footer ul {
    list-style: none;
    padding: 0; }
  footer .logo-ft img {
    max-width: 400px; }
    @media (max-width: 1400px) {
      footer .logo-ft img {
        max-width: 250px; } }
  footer .address-ft {
    width: 40%; }
  footer a:hover {
    color: #b48c54; }
  footer .follow-up li {
    padding-right: 15px; }
  footer .copy-right {
    margin-top: 60px; }
  @media (max-width: 991px) {
    footer .max-w-1600 {
      padding: 0 !important; } }
  @media (max-width: 768px) {
    footer .col-md-6 {
      flex: 100%;
      max-width: 100%;
      padding-bottom: 30px; }
      footer .col-md-6 .logo-ft {
        text-align: center;
        padding-bottom: 30px; }
      footer .col-md-6 .address-ft {
        float: left; }
      footer .col-md-6 .follow-up {
        float: right;
        margin-top: 1rem !important; } }
  @media (max-width: 768px) {
    footer .col-md-2 {
      flex: 33.33%;
      max-width: 33.33%; } }

.h-line-220 {
  width: 1px;
  height: 175px;
  background-color: #000000;
  position: absolute;
  bottom: -60px;
  right: 50px; }
  @media (max-width: 1500px) {
    .h-line-220 {
      height: 220px !important; } }
  @media (max-width: 1200px) {
    .h-line-220 {
      height: 250px !important; } }
  @media (max-width: 991px) {
    .h-line-220 {
      right: 25px; } }
  @media (max-width: 768px) {
    .h-line-220 {
      display: none; } }

.border-tb {
  border-top: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
  padding-top: 15px;
  margin-bottom: 15px; }

.zoom-in {
  cursor: pointer;
  overflow: hidden; }
  .zoom-in img,
  .zoom-in div {
    transition: all .5s; }

.zoom-in:hover img,
.zoom-in:hover div {
  transition: all .5s;
  transform: scale(1.1); }

.navbar-brand {
  cursor: pointer; }
  @media (max-width: 991px) {
    .navbar-brand {
      position: absolute;
      z-index: 9999; } }
  @media (max-width: 480px) {
    .navbar-brand {
      display: none !important; } }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #b48c54 !important;
  background-color: transparent !important;
  font-family: 'TrajanBold'; }

.nav-pills .nav-link {
  color: #000000;
  font-family: 'TrajanRegular';
  padding: .5rem 0; }

.navbar-light .navbar-toggler {
  outline: none !important; }
  @media (max-width: 480px) {
    .navbar-light .navbar-toggler {
      position: absolute;
      z-index: 9999;
      top: 0;
      padding: 0; } }
.navbar-light .navbar-toggler-icon {
  background-image: url("../images/icons/menu.png") !important;
  background-size: contain;
  background-repeat: no-repeat; }

.hide-480 {
  display: block; }
  @media (max-width: 480px) {
    .hide-480 {
      display: none; } }

.show-480 {
  display: none; }
  @media (max-width: 480px) {
    .show-480 {
      display: block; } }

/*# sourceMappingURL=style.css.map */
